<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/script.js"></script>
    </head>
    <body>
        {{>header}}
        <img src="/img/4890_RicardoSmile.png">


        {{>footer}}
    </body>
</html>